#style1{background: -webkit-linear-gradient(90deg, #c7f2ff, #5cd3ff);
    background: linear-gradient(90deg, #c7f2ff, #5cd3ff);}
    
    body{
        font-family: Arial, sans-serif; font-size: 16px;
        background: -webkit-linear-gradient(90deg, #c7f2ff, #5cd3ff);
    }
    .container{
       
    }
