body {
  font-family: 'Arial', sans-serif;
  background: -webkit-linear-gradient(90deg, #c7f2ff, #5cd3ff);
  background: linear-gradient(90deg, #c7f2ff, #5cd3ff);
  color: #004080;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  text-shadow: 3px 3px 6px white;
  margin: 0;
  font-size: 30px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

th,
td {
  padding: 10px;
  text-align: left;
  background-color: #e6f2ff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 64, 128, 0.2);
}

th {
  background-color: #b3d9ff;
  color: #004080;
  font-weight: bold;
}

a {
  color: #004080;
  text-decoration: none;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}
a::after {
  content: ' | ';
}

.Titulo__panel--item{
  font-size: 30px;
  text-align: center;
  text-shadow: 5px 3px 3px white;
}